<div
  style="
    height: 64px; 
    padding: 0 32px; 
    border-bottom: 1px solid #dadada; 
  "
>
  <table 
    style="
      border-collapse: collapse;
      width: 128px;
      height: 128px;
      margin: 0 auto;
    "
  >
    <tbody>
      <tr>
        <td>
          <%- logo %>
        </td>
      </tr>
    </tbody>
  </table>
</div>