<table
  style="
    background-color: #dadada;
    padding: 100px 0;
    width: 100%;
  "
>
  <tr>
    <td>
      <table 
        style="
          border-collapse: collapse;
          width: 700px; 
          background-color: white; 
          border-radius: 8px;
          margin: 0 auto;
        "
      >
        <tbody>
          <tr>
            <td>
              <%- header %>
            </td>
          </tr>
          <tr>
            <td>
              <div
                style="
                  padding: 60px 80px; 
                "
              >
                <%- content %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table 
        style="
          border-collapse: collapse;
          width: 700px; 
        "
        align="center"
      >
        <tr>
          <td>
            <%- footer %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
